<%- include('../partials/header') %>
<div class="title">

<h4>WELCOME TO</h4>
    <br>
    <h1> - Well Read - </h1>
    <br>
    <h6>A BOOK TRACKING APP</h6>
</div>

<%- include('../partials/footer') %>