<%- include('../partials/header') %>
<div class="title">
    <br>
    <h1 class="text-center"> - Well Read - </h1>
    <h6>A BOOK TRACKING APP</h6>

    <img src="https://data.whicdn.com/images/135248365/large.jpg" width="100%">
</div>

<%- include('../partials/footer') %>