<%- include('../partials/header') %>
<div class="title">
    <br>
    <h1 class="text-center"> - Well Read - </h1>
    <h6>A BOOK TRACKING APP</h6>

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6E5C-3tdq-B9K3mIMYJ9CdGfqrPysqsvY0wlYnQG12_9PYt_Dnw" alt="a cat in a bookshelf" width="100%">
</div>

<%- include('../partials/footer') %>